/* --------------------- Reset & Variables --------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


html {
    font-size: 62.5%; 
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

/* ------------------- Header & Nav ---------------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}


section {
    min-height: 100vh;
    padding: 10rem 9% 5rem;
}

.heading {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 5rem;
}

span {
    color: #b74b4b;
}

/* --------------------- Home Section ----------------------- */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 1.5rem 0;
}

.home-img img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px #b74b4b;
    cursor: pointer;
    transition: 0.4s ease;
}

.home-img img:hover {
    transform: scale(1.02);
}


/* -------------------- Buttons & Social ---------------------- */
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2.2rem;
    border-radius: 50%;
    margin: 1rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.2) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.1rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

/* -------------------------Projects --------------------------- */
.projects {
    background: #161616;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;
}
.project-box {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    height: 280px;
}

.project-box img {
    width: 100%;
    object-fit: cover;
    transition: .5s ease;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #b74b4b);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.project-box:hover .project-layer {
    transform: translateY(0);
}

.project-layer h4 { 
    font-size: 3rem; color: black; 
}

.project-layer p { 
    font-size: 1.4rem; margin: .3rem 0 1rem; color: black; font-weight: 500; 
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem; height: 5rem;
    background: white;
    border-radius: 50%;
}
.project-layer a i { 
    font-size: 2rem; color: black; 
}

/* ---------------------- skills------------------------ */
.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
}

.skill-item {
    background: #161616;
    padding: 3rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid transparent;
    transition: 0.4s ease;
}

.skill-item:hover {
    border-color: #b74b4b;
    transform: translateY(-10px);
}

.skill-item i {
     font-size: 5rem; color: #b74b4b; 
}

.skill-item span { 
    display: block; font-size: 1.6rem; margin-top: 1rem; font-weight: 500; 
}

.skill-title {
    font-size: 2.5rem;
    color: white;
    text-align: left;
    margin: 4rem 0 2rem;
    border-left: 5px solid #b74b4b;
    padding-left: 1.5rem;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
    margin-bottom: 3rem;
}

.skill-item {
    background: #161616;
    padding: 2.5rem 1.5rem;
    border-radius: 1.5rem;
    text-align: center;
    border: 1px solid transparent;
    transition: 0.4s ease;
}

.skill-item:hover {
    border-color: #b74b4b;
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(183, 75, 75, 0.3);
}

.skill-item i {
    font-size: 4.5rem;
    color: #b74b4b;
    margin-bottom: 1.5rem;
}

.skill-item span {
    font-size: 1.5rem;
    color: white;
    display: block;
    font-weight: 500;
}


/*------------------------ my journey---------------------*/
.timeline-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.timeline-column {
    flex: 1 1 40rem;
}

.timeline-column .title {
    font-size: 2.5rem;
    margin: 0 0 3rem 2rem;
}

.timeline-box {
    border-left: .2rem solid #b74b4b;
}

.timeline-content {
    position: relative;
    padding-left: 2rem;
    margin-bottom: 2rem;
}

.timeline-content::before {
    content: '';
    position: absolute;
    top: 0; left: -1.1rem;
    width: 2rem; height: 2rem;
    background: #b74b4b;
    border-radius: 50%;
}

.timeline-content .year { 
    font-size: 1.5rem; color: #b74b4b; margin-bottom: .5rem; 
}

.timeline-content h3 { 
    font-size: 2rem; 
}

.timeline-content p { 
    font-size: 1.4rem; padding-top: .5rem; 
}


/* --------------------------Contact -------------------- */
.contact { 
    background: #161616; 
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, 
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    background: black;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input { 
    width: 49%; 
}

/* -----------------------Footer -------------------- */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: black;
    border-top: 0.1rem solid #b74b4b;
}

.footer-text p { font-size: 1.6rem; }
.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #b74b4b;
    border-radius: .8rem;
}
.footer-iconTop a i { 
    font-size: 2.4rem; color: black;
 }
